.accordion {}

.accordion-item {
  & &-hd {
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    position: relative;
    &:after {
            content: '';
            position: absolute;
            top: 12px;
            top: 5px;
            right: 2rem;
            width: 17px;
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: 5px;
            background-position: center;
    }
  }
  & &-bd {
    overflow:hidden;
  }
  &+& {
      border-top: 1px solid #dedede;
  }
}

.accordion-open {
    .accordion-item-hd {
        &:after{
            background-image: url('../images/navbar/less.png');
        }
    }

    .accordion-item-bd {
        display: block;
    }
}

.accordion-close {
    .accordion-item-hd {
        &:after{
          background-image: url('../images/navbar/more.png');
      }
    }
    .accordion-item-bd {
        display: none;
    }
}
