
/*

     - .card
     - .card-header
     - .card-img-top
     - .card-block
     - .card-title
     - .card-text





*/


/*=======================card========================*/
.card {

  .card-header {
    padding: .6rem 1.25rem;
    background-color: rgb(232, 234, 233);
  }

    .card-img {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;
     overflow: hidden;
     .time {
         width: 33%;
         position: absolute;
         left: 50%;
         bottom: 0;
         background-color: #fff;
         color: #666;
         text-align: center;
         padding: 0.5em 0;
         margin-left: -16.5%;
     }
  }


      .card-img2 {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          .text {
              color: #fff;
              font-size: 16px;
          }
     }



  .card-title, .card-title2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
  }

  .card-title2 {
      font-size: 18px;
  }


  & .card-text:last-child {
    margin-bottom: 0;
  }
}



.card-block {
  padding: 2rem;
}
