
:root {

  --list-group-active-color: #fff;
  --list-group-active-bg:  var(--brand-primary);
  --list-group-active-border:  var(--brand-primary);

  --list-group-hover-color: #555;
  --list-group-hover-bg: #f5f5f5;
}



.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -.0625rem;
  background-color: #fff;
  &:first-child {
    padding-top: 2rem;
  }
  &:last-child {
    padding-bottom: 2rem;
  }
}
